include ../modules/__mixins
include ../modules/_variables
block vars
doctype html
html(lang="ru").no-js
	include includes/head.jade
	body
		main
			include ../modules/change-city
			//include includes/header
			div.wrapper-content
				if (!oneColumn)
					include ../modules/left-menu
					div.right-column
						div.content
							block block-content
				else
					block block-content



		//include includes/footer

		//include ../modules/popups.jade