extends layouts/_default
block vars
	-var currentPageTitle = "Блог"
	-var oneColumn = "true"
block title
	title=currentPageTitle
block block-content
	+breadcrumbstBlog(["ВСЕ СТАТЬИ БЛОГА", "КАК НЕ УСНУТЬ ЗА РУЛЕМ В ДОЛГОМ ПУТЕШЕСТВИИ?"], "/")
	.blog
		.social-likes(data-url="12")
			.facebook(title='Поделиться ссылкой на Фейсбуке')
				//span.one-plus +1
			.vkontakte(title='Поделиться ссылкой во Вконтакте')
				//span.one-plus +1
			.twitter(title='Поделиться ссылкой в Твиттере')
				//span.one-plus +1
		.blog-images
			img(src="images/example/reviews/1.png", alt=" ")

