extends layouts/_default
block vars
	-var currentPageTitle = "Главная страница"
block title
	title=currentPageTitle
block block-content



	include modules/video

	include modules/benefit
	include modules/catalog

	include modules/banner
	include modules/questions
	include modules/friends

