$wrapper_width = 1192px
$img_path = '../images/'

$type_anim_link = 2



base-font()
	font-family: 'Roboto', sans-serif;
	font-size 14px
	color #535a66
content-center(w = 100%, h = w, important = false )
	important = (important == true ? !important : )
	position relative
	width w important
	height h important

	> *
		position absolute
		top 0 important
		bottom 0 important
		left 0 important
		right 0 important
		margin auto important
		max-height 100%
		max-width 100%
size(w, h = w)
	width w
	height h
	
border-box()
	box-sizing padding-box
	box-sizing border-box
	
background-clip()
	background-clip padding-box


// in css -> images("test.png")
images(file)
	url( $img_path + file )
	
trans()
	transition all 0.3s

trans-none()
	transition all 0s
clear()
	&:after
		content ''
		display table
		clear both

// in css -> columns(5)
columns(count)
	.column-{count}
		width floor( (95% / count), 1 )
		display inline-block
		vertical-align top

// in css -> width-perc(15)
width-perc(perc)
	.perc-{perc}
		width: (perc)%
		
anim-link(type = $type_anim_link)
	position relative
	text-decoration none !important
	overflow hidden
	
	if( type == 1)
		&:after
			content ''
			display block
			position absolute
			bottom 0
			left 0
			size(100%, 0)
			max-width 100%
			border-bottom 1px solid
			trans()
			
		&:hover
			&:after
				size(0)
		
	if (type == 2)
		&:after,
		&:before
			content ''
			display block
			position absolute
			bottom 0
			size(50%, 0)
			max-width 50%
			border-bottom 1px solid
			trans()
		&:after
			right 0
		&:before
			left 0
			
		&:hover
			text-decoration none
			&:after,
			&:before
				size(0)
	
	if( type == 3)
		&:after
			content ''
			display block
			position absolute
			bottom 0
			left 0
			right 0
			margin auto
			size(100%, 0)
			max-width 100%
			border-bottom 1px solid
			trans()
			
		&:hover
			&:after
				size(0)

// in css -> blur(20)
blur(px)
	filter unquote('progid:DXImageTransform.Microsoft.Blur(PixelRadius="' + px + '")')
	-webkit-filter unquote('blur(' + px + 'px)')
	-o-filter unquote('blur(' + px + 'px)')
	-ms-filter unquote('blur(' + px + 'px)')
	-moz-filter unquote('blur(' + px + 'px)')
	filter unquote('blur(' + px + 'px)')

// in css -> opacity(0.2) or  opacity(20)
opacity(val)
	if val > 1
		val = val/100
	opacity val
	zoom 1
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity="' + val*100 + '")')


// in css -> background-size(cover)
background-size(value)
	background-size value


// in css with inset -> box-shadow-inset(0, 0, 10px, rgba(0,0,0,0.5))
// in css  -> box-shadow(0, 0, 10px, rgba(0,0,0,0.5))
box-shadow-inset(x, y, r, color)
	box-shadow inset x y r color

box-shadow-outer( x, y, r, color)
	box-shadow x y r color


// in css with inset -> text-shadow(5px, 1px, 5px, #000)
text-shadow(x, y, r, color)
	text-shadow x y r color

// in css with inset -> gradient-linear(#000, #fff)
gradient-linear(top, bottom)
	background linear-gradient(top, bottom)

// in css -> text-ellipsis(100px) or text-ellipsis(80%)
_text-overflow(width_value = 'none')
	white-space nowrap
	text-overflow ellipsis
	line-height: normal;
	overflow hidden
	if width_value != 'none'
		width width_value


// sprite mixin

spriteWidth($sprite)
	width $sprite[4]

spriteHeight($sprite)
	height $sprite[5]

spritePosition($sprite)
	background-position $sprite[2] $sprite[3]

spriteImage($sprite)
	background-image url(../images/$sprite[8])

sprite($sprite)
	if !match('hover', selector()) && !match('active', selector())
		spriteImage($sprite)
	spritePosition($sprite)
	spriteWidth($sprite)
	spriteHeight($sprite)

    $s-arrow-down = 68px 54px -68px -54px 5px 3px 98px 97px 'sprite.png';
    $s-icon-bank-hover = 0px 18px 0px -18px 63px 13px 98px 97px 'sprite.png';
    $s-icon-bank = 0px 0px 0px 0px 63px 13px 98px 97px 'sprite.png';
    $s-icon-basket = 60px 62px -60px -62px 19px 15px 98px 97px 'sprite.png';
    $s-icon-new-car-hover = 30px 62px -30px -62px 25px 21px 98px 97px 'sprite.png';
    $s-icon-new-car = 0px 62px 0px -62px 25px 21px 98px 97px 'sprite.png';
    $s-icon-old-car-hover = 68px 0px -68px 0px 30px 22px 98px 97px 'sprite.png';
    $s-icon-old-car = 68px 27px -68px -27px 30px 22px 98px 97px 'sprite.png';
    $s-icon-questions = 0px 36px 0px -36px 40px 21px 98px 97px 'sprite.png';
    $s-icon-search = 45px 36px -45px -36px 12px 15px 98px 97px 'sprite.png';
    $s-icon-watch = 0px 88px 0px -88px 15px 9px 98px 97px 'sprite.png';

body
	background transparent
	border-box()
main
	position relative


.wrapper-content
	clear()

.button
	text-decoration: none;
	text-align: center;
	display: inline-block;
	outline 0;
	border: 0
	cursor pointer
	vertical-align middle
	border-box()
	font-size 15px
	text-shadow 0 2px 0 #e3771e
	padding: 0 14px;
	line-height 44px
	height 44px
	background: #e68422;
	color: #fff;
	border-radius 2px
	border-bottom 2px solid #dd7010
	position relative
	trans()

	&:hover, &.__hover
		background #f26c0c
		border-color #f26c0c
		color #fff
	&:focus, &.__focus, &:active
		background #e64d00
		border-color #e64d00
		color #fff

	&-info
		text-decoration: none;
		text-align: center;
		display: inline-block;
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 12px
		font-weight 700
		padding: 0 14px;
		line-height 33px
		height 30px
		background: #fff;
		color: #848d9a;
		border-radius 5px
		text-transform uppercase
		trans()
		&:hover
			color #07aa8a

.falseLink
	display inline
	border-bottom 1px dashed #c02a1b
	text-decoration none!important
	color #c02a1b
	cursor pointer
	&:hover, &:active
		color: #e13726;
		border-color #e13726;

.hr
	clear()
	display block
	size(auto, 0)
	border-bottom 1px dashed #b7b7b7
	margin 20px 0

img
	max-width 100%
.title-bordered
	position relative
	margin-bottom 20px
	text-align center
	h2
		color: #4f5a67;
		font-family: "Roboto",sans-serif;
		font-size: 35px;
		font-weight: 300;
		text-align: center;
		text-transform: none;
		background #fff
		padding 0 2px
		position relative
		z-index 2
		display inline-block

	&:after
		content ''
		border-bottom  1px solid #f2f3f5
		display block
		position relative
		z-index 1
		top: -7px;
		height: 1px;
a
	trans();

.clear
	clear()

.link-more
	color #545861
	text-decoration none
	border-bottom 1px dotted #545861
	cursor pointer
	display inline-block
	trans()
	&:hover
		color #07aa8a
		border-color #07aa8a

.right-column
	width 100%
	margin-left -140px
	position relative
	float right
	.content
		margin-left 140px



//Типографика для "текстовых страниц сайта"



.arrow-down
	position relative
	sprite($s-arrow-down);




.ui-buttonset
	margin 0

.ui-slider
	size(100%, 2px)
	border 0
	border-radius 0
	background #cfcfcf
	padding 0
	border 0
	.ui-slider-range
		background #1b7fc5
		border-radius 0
		height 100%
	.ui-slider-handle
		size(6px, 10px)
		background images('icons/range-arrow.png') center bottom no-repeat
		margin-left -3px
		top 100%
		border 0
		border-radius 0

.ui-type-checkbox,
.ui-type-radio
	line-height 16px
	&,
	.ui-button-text
		border 0
		border-radius 0
		padding 0
		margin auto
		background transparent
		font-weight 400
		font-size 13px
		color #000
		text-align left
	.ui-button-text
		display inline-block
		vertical-align top
		max-width 100%
		padding-left 20px
		margin-left -12px
		padding-right 20px
		border-box()
		overflow hidden
		line-height 16px
		span
			display inline-block
			vertical-align middle
	&:before
		content ''
		display inline-block
		vertical-align top
		background-position center
		background-repeat no-repeat
		border-box()
		trans()
		margin-top 2px

.ui-type-checkbox
	&:before
		size(12px)
		border 1px solid #e9e9e9
		background-color #fff
		border-radius 2px
	&:hover
		&:before
			background-color #f2f2f2
	&.ui-state-active
		&:before
			background-color #1776cc
			border-color #1776cc
			background-image images('icons/checkbox-arrow.png')
			
.ui-type-radio
	&:before
		size(13px)
		border 1px solid #e9e9e9
		background-color #fff
		border-radius 50%
	&:hover
		&:before
			background-color #f2f2f2
	&.ui-state-active
		&:before
			background-color #fff
			background-image images('icons/radio-dot.png')

/*Custom select styling*/
/*button*/	
.ui-selectmenu-button
	color black
	font-weight normal
	vertical-align middle
.ui-selectmenu-button.ui-state-default
	border none
.ui-selectmenu-button span.ui-selectmenu-text
	border 1px solid #e9e9e9
.ui-selectmenu-button .ui-icon
	background-image:none;	
.ui-selectmenu-button .ui-selectmenu-text
	border 1px solid #e9e9e9
	font-size 14px
	background white
.ui-selectmenu-button span.ui-icon
	background url("../images/icons/black-down.png") no-repeat 0 0
	width 10px
	height 5px
	right 18px
	margin-top -2px
/*button hover*/
.ui-selectmenu-button.ui-state-hover
	background none
	outline none
.ui-selectmenu-button[aria-expanded="true"] .ui-icon.ui-icon-triangle-1-s
	background-position 0 -8px
/*menu*/
.ui-selectmenu-menu .ui-menu
	padding-bottom 0
.ui-selectmenu-menu .ui-menu-item
	padding 12px 0 10px 13px
	background white
	border 1px solid #e9e9e9
	border-bottom none
.ui-selectmenu-menu .ui-menu-item:hover
	background #f2f2f2
.ui-selectmenu-menu .ui-menu-item:first-child
	border-top none
.ui-state-focus, .ui-widget-content .ui-state-focus
	color black
	font-weight normal	
.ui-selectmenu-menu .ui-menu-item + .ui-menu-item
	border-top none
.ui-selectmenu-menu .ui-menu-item + .ui-menu-item:after
	content ""
	position absolute
	top 0
	left 10px
	right 10px
	height 1px
	background #e9e9e9
.ui-selectmenu-menu .ui-menu-item:hover + .ui-menu-item:after,
.ui-selectmenu-menu .ui-menu-item:hover:after
	background transparent	
.ui-selectmenu-menu .ui-state-focus, .ui-menu .ui-state-active
	margin 0
.ui-menu
	border none
	background none
	border-bottom 1px solid #e9e9e9





.breadcrumbs
	position relative
	margin-bottom 20px
.footer
	background #4f5a67
	padding: 80px 0 22px;
	min-width 1000px
	color #7f8895
	height: 392px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	border-box()
	a
		color #818b98
		&:hover
			color #fff
	&-line
		text-align: justify;
		position relative
		&:after
			content: '';
			display: inline-block;
			width: 100%;

	&-logo
		display inline-block
		vertical-align top
		margin-right 20px
	&-nav
		&-ctn
			margin-bottom 68px
			display inline-block
			vertical-align top
			color #a6adb5
			position relative
		&-item
			margin-bottom 10px
			font-size 15px
			color #a6adb5
		&-link, a&-link
			text-decoration none
			color #a6adb5
			&:hover, &.__active
				color #fff
	&-links
		font-size 10px
		line-height: 12px;

.header
	position relative

	&-line
		background #10aa8b
		color #fff;
		min-width: 1000px;
		font-size 12px
		margin-bottom 25px
	&-ctn
		text-align: justify;
		&:after
			content: '';
			width: 100%;
			display: inline-block;
	&-change-city
		display inline-block
		vertical-align middle
		margin-right 15px
		padding 10px 15px 10px 10px
		border-radius 5px
		trans()
		color #fff
		position relative
		cursor pointer
		&:hover
			background #40bba2
		&:after
			content ''
			display block
			position: absolute;
			right: 5px;
			top: 50%;
			margin-top: -1px;
			sprite($s-arrow-down);
		span
			border-bottom 1px dotted #fff

	&-search
		display inline-block
		vertical-align middle
		margin 0 10px
		padding 10px
		trans()
		border-radius 5px
		cursor pointer
		&:after
			content ''
			display block
			sprite($s-icon-search)
		&:hover
			background #40bba2

	&-nav
		display inline-block
		vertical-align middle
		margin  0 10px
		&-item
			display inline-block
			padding 12px 10px
			border-radius 5px
			color #fff
			text-decoration none
			font-size 12px
			&:hover, &.__active
				background #40bba2

	&-person
		display inline-block
		vertical-align middle
		margin 0 5px;
		&-basket
			padding 10px 5px
			display inline-block
			vertical-align middle
			margin-right 10px
			border-radius 5px
			&:hover, &.__active
				background #40bba2
			&:after
				content ''
				display block
				sprite($s-icon-basket)
		&-link
			font-size 12px
			color #fff
			display inline-block
			vertical-align middle
			border-radius 5px
			padding 10px 5px
			text-decoration none
			&:hover, &.__active
				background #40bba2
		&-sep
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			font-weight: 700;
			padding: 0 2px;
			position: relative;
			top: -3px;

	&-bank
		display inline-block
		vertical-align middle
		color #fff
		text-transform uppercase
		font-size 8px
		font-family: 'Open Sans', sans-serif;
		text-decoration none
		&:hover
			&:before
				sprite($s-icon-bank-hover)
		&:before
			content ''
			display block
			sprite($s-icon-bank)
			margin-bottom 4px
	&-info
		position relative
		margin-bottom 40px
		&-ctn
			text-align justify
			&:after
				content: '';
				width: 100%;
				display: inline-block;
		&-links
			display inline-block
			vertical-align middle
			margin 0 10px
			.header-info-nav
				font-weight normal
		&-nav
			display inline-block
			vertical-align middle
			margin-right 40px
			text-transform uppercase
			font-size 14px
			text-decoration none
			font-weight bold
			color #505a68
			margin-top: 15px;
			&.icon-new-car, &.icon-old-car
				&:before
					content ''
					position relative
					top -2px
					display inline-block
					vertical-align middle
					margin-right 8px
			&.icon-new-car
				&:hover
					&:before
						sprite($s-icon-new-car-hover)
				&:before
					sprite($s-icon-new-car)
			&.icon-old-car
				&:hover
					&:before
						sprite($s-icon-old-car-hover)
				&:before
					sprite($s-icon-old-car)
			&:hover, &.__active
				color #07aa8a
	&-logo
		display inline-block
		vertical-align middle
		margin-right 30px
		font-size 11px
		color #848d9a
		font-weight lighter
		&-slogan
			display block
			margin-bottom 5px
			letter-spacing: -0.5px;
	&-phone
		display inline-block
		vertical-align middle
		border-bottom 1px dotted #535a66
		color #535a66
		text-decoration none
		margin-top 15px

		&:hover
			color #07aa8a
			border-color #07aa8a
.left-menu
	width 140px
	float left
	position relative
	margin-bottom 40px
	border-box()
	padding-right 20px
	z-index 1
	&-category
		text-transform uppercase
		color: #c0c6cd;
		font-weight: 700
		font-size 15px
		margin-bottom 40px
	&-item
		margin-bottom 12px
		font-size 15px
		text-align right
		& + .left-menu-category
			margin-top 55px
	&-link
		text-underline none
		&:hover
			.left-menu-name
				color #2fb38c
			.left-menu-count
				color #565658
	&-name
		white-space nowrap
		text-overflow ellipsis
		line-height: normal;
		overflow hidden
		max-width 85px
		margin-right 5px
		color #535561
		text-align right
		vertical-align middle
		display inline-block
		trans()
	&-count
		color #c6c7cb
		width 28px
		display inline-block
		vertical-align middle
		trans()


.pagination
	position relative
	margin 0
.questions
	position relative
	margin-bottom 20px
	&-reply
		position relative
		margin:0 0 50px 0
		text-align center
	&-title
		color: #4f5a67;
		font-size: 1.125em;
		font-style: italic;
		text-align: center;
		margin-bottom 80 px
		&:before,&:after
			content: '//'
			color: #B4B8BC
			font-size: 1em
	&-btn
		border-radius: 5px
		border: 2px solid #00ac8b
		background-color: #fff
		text-decoration none
		color #4f5a67
		width: 200px
		height: 40px
		line-height 40px
		text-align: center
		display: inline-block
		margin: 0 10px
		text-transform uppercase
		font-size 14px
		font-weight 700
		trans()
		&:hover, &.__active
			background #00ac8b
			color #fff
		&.__active
			cursor default

	&-icon
		sprite($s-icon-questions)
		margin 0 auto 90px
	&-result
		width 100%
		clear: both;
		position relative
		overflow hidden
		&:after
			content: '';
			display: table;
			clear: both;
		&-ctn
			margin-right -25px
			margin-bottom 20px
		&-img
			position relative
			text-align center
		&-item
			//width 33.33%
			max-width: 505px;
			margin-right: 25px;
			border-box()
			//margin-right 25px
			position relative
			display: table-cell;
			padding-right: 25px;

		&-overlay
			padding: 20px;
			text-align left
			position absolute
			bottom: 0;
			left: 0;
			width: 100%;
			border-radius: 5px;
			background-color: rgba(79, 90, 103, 0.9);
			border-box()
		&-title
			color #fff
			font-weight: 500;
			line-height: 1.2;
			text-transform: uppercase;
			_text-overflow(100%)
		&-date
			color: #c0c6cd;
			font-size 13px
			padding-bottom: 12px;
			display: inline-block;
		&-subtitle
			color #fff
			font-weight: 300
			_text-overflow(100%)
		&-views
			color: #c0c6cd;
			font-size: 13px
			font-weight: 300;
			line-height: 1.5;
			display: inline-block;
			text-align: right;
			position absolute
			top 20px
			right 20px
			&:before
				content:''
				sprite($s-icon-watch)
				display inline-block
				margin-right 10px

