body
	background transparent
	border-box()
main
	position relative


.wrapper-content
	clear()

.button
	text-decoration: none;
	text-align: center;
	display: inline-block;
	outline 0;
	border: 0
	cursor pointer
	vertical-align middle
	border-box()
	font-size 15px
	text-shadow 0 2px 0 #e3771e
	padding: 0 14px;
	line-height 44px
	height 44px
	background: #e68422;
	color: #fff;
	border-radius 2px
	border-bottom 2px solid #dd7010
	position relative
	trans()

	&:hover, &.__hover
		background #f26c0c
		border-color #f26c0c
		color #fff
	&:focus, &.__focus, &:active
		background #e64d00
		border-color #e64d00
		color #fff

	&-info
		text-decoration: none;
		text-align: center;
		display: inline-block;
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 12px
		font-weight 700
		padding: 0 8px;
		line-height 33px
		height 30px
		background: #fff;
		color: #848d9a;
		border-radius 5px
		text-transform uppercase
		trans()
		&:hover
			color #07aa8a
	&-detail
		text-decoration: none;
		text-align: center;
		display: inline-block;
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 15px
		font-weight 900
		color #4f5a67
		padding: 0 5px;
		line-height 44px
		height 44px
		background: #f2f3f5;
		text-transform uppercase
		trans()
		width 140px
		position relative
		&:before
			content ''
			display inline-block
			position absolute
			left 50%
			top 50%
			margin-top -12px
			margin-left -36px
			sprite($s-icon-basket-big)
			trans()
			opacity 0
			visibility hidden
		&:hover
			color #00ac8b
			background images("bg/bg-btn-info.png") no-repeat transparent

			&:before
				left 0
				opacity 1
				margin-left 50px
				visibility visible

.falseLink
	display inline
	border-bottom 1px dashed #c02a1b
	text-decoration none!important
	color #c02a1b
	cursor pointer
	&:hover, &:active
		color: #e13726;
		border-color #e13726;

.hr
	clear()
	display block
	size(auto, 0)
	border-bottom 1px dashed #b7b7b7
	margin 20px 0

img
	max-width 100%
.invisible
	opacity 0
	height 0
	display none
	width 0
	visibility hidden
.title-bordered
	position relative
	margin-bottom 20px
	text-align center
	h2
		color: #4f5a67;
		font-family: "Roboto",sans-serif;
		font-size: 35px;
		font-weight: 300;
		text-align: center;
		text-transform: none;
		background #fff
		padding 0 18px
		position relative
		z-index 2
		display inline-block

	&:after
		content ''
		border-bottom  2px solid #f2f3f5
		display block
		position relative
		z-index 1
		top: -8px;
		height: 1px;
a
	trans();

.clear
	clear()

.link-more
	color #545861
	text-decoration none
	border-bottom 1px dotted #545861
	cursor pointer
	display inline-block
	font-size: 15px;
	trans()
	&:hover
		color #07aa8a
		border-color #07aa8a
main
	overflow hidden
	min-width 1100px

.right-column
	width 100%
	margin-left -140px
	position relative
	float right
	overflow: hidden;
	.content
		margin-left 140px
.main-column-info
	float left
	width 735px
	position relative
	z-index 1
	h1, .title-h1.__normal
		margin-bottom 35px
		font-size 36px
.title-h1.__normal
	margin-bottom 35px
	font-size 36px

.right-column-info
	width 100%
	margin-left -735px
	position relative
	float right
	.content
		margin-left 795px
.hint-price
	color #fff
	position absolute
	top: -6px
	left 0
	right 0
	margin auto
	width auto
	background #10aa8b
	z-index 5
	font-size 15px
	border-radius 5px
	max-width: 187px;
	text-align: center;
	padding 13px 9px 12px 9px
	&.__small
		font-size 12px
		text-transform uppercase
.__through
	text-decoration line-through
.__uppercase
	text-transform uppercase
	font-size 12px
	margin-bottom 23px

.close-popup
	position absolute
	top 0
	left 0
	width 100%
	height 100%
.icon-play
	position relative
	a&
		display block
	&:hover
		&:before
			transform: scale(0.93);
		&:after
			animation: sonarEffect 1.3s ease-out 75ms;
	&:before
		content ''
		display block
		sprite($s-icon-video)
		position absolute
		top 44%
		margin-left -33px

		left 50%
		transition: transform ease-out 0.1s;
	&:after
		content ''
		width: 66px;
		height: 66px;
		position: absolute;
		top: 44%;
		margin-left: -33px;
		left: 50%;
		border-radius: 50%;
		border-box()
.tab
	position relative
	input[type="radio"]:checked + label
		color #00a086
		border-color #00a086
		cursor default
		span:not(.card-config-count-reviews)
			color #00a086

	&-title
		font-size 12px
		font-weight bold
		cursor pointer
		display inline-block
		vertical-align top
		padding 10px 23px
		border-bottom 2px solid #dfe3e6
		color #4f5a67
		text-transform uppercase
		text-align center
		margin-right -4px
		height 47px
		min-width 112px
		border-box()
		trans()
		position relative
		&:hover
			color #00a086
			border-color #00a086
			span:not(.card-config-count-reviews)
				color #00a086


		span
			display block
			font-size 10px
			color #848d9a
			margin-top 4px
	&-relative
		position relative
		display inline-block
	&-ctn
		display none
		padding-top 54px
.tab input[type="radio"]:checked:nth-of-type(1):checked ~ .tab-ctn:nth-of-type(1)
	display block
.tab input[type="radio"]:checked:nth-of-type(2):checked ~ .tab-ctn:nth-of-type(2)
	display block
.tab input[type="radio"]:checked:nth-of-type(3):checked ~ .tab-ctn:nth-of-type(3)
	display block
.tab input[type="radio"]:checked:nth-of-type(4):checked ~ .tab-ctn:nth-of-type(4)
	display block
