h1, .title-h1
	color #535a66
	font-weight 300
	font-family Roboto, Arial, sans-serif
	margin-bottom 20px
	font-size 49px
	text-decoration none

h2, .title-h2
	color #535a66
	font-weight bold
	font-family Roboto, Arial, sans-serif
	margin-bottom 30px
	font-size 18px
	text-transform uppercase
	text-decoration none
	span
		font-weight normal
		font-size 12px
		font-style italic
		color #848d9a
		text-transform none

