.arrow-down
	position relative
	sprite($s-arrow-down);
.icon
	&-reliability
		sprite($s-icon-reliability)
	&-online
		sprite($s-icon-online)
	&-free
		sprite($s-icon-free)
	&-buy
		sprite($s-icon-buy)
	&-pay
		sprite($s-icon-pay)
	&-car
		sprite($s-icon-car)


.icon-mustache
	width 34px
	height 34px
	line-height 34px
	text-align center
	background #fff
	border-radius 50%
	&:before
		content ''
		display inline-block
		position: relative;
		left: 0.5px;
		sprite($s-icon-mustache)