.banner
	margin-bottom 90px
	position relative
	&-comment
		margin-bottom 10px
	&-signature
		font-size: 24px;
		font-weight: 500;
	&-text
		display: inline-block;
		text-align: left;
		position: absolute;
		width: 380px;
		top: 60px;
		right: 60px;
		font-family: 'Comfortaa',cursive;
		color: #fff;
		font-size: 16px;
		line-height: 26px;
	//&-signature
