.banner
	margin-bottom 86px
	position relative
	&-comment
		margin-bottom 18px
	&-signature
		font-size: 24px;
		font-weight: 500;
	&-text
		display: inline-block;
		text-align: left;
		position: absolute;
		width: 380px;
		top: 53px;
		right: 34px;
		font-family: 'Comfortaa',cursive;
		color: #fff;
		font-size: 16px;
		line-height: 25px;
	//&-signature
