.banner
	margin-bottom 20px
	position relative
	&-comment
		margin-bottom 10px
	&-signature
		font-size: 17px;
		font-weight: 500;
	&-text
		display: inline-block;
		text-align: left;
		position absolute
		width 280px
		top 60px
		right 60px
		font-family: 'Comfortaa', cursive;
		color #fff
		font-size 12px
		line-height 18px
	//&-signature
