.benefit
	position relative
	margin-bottom 35px
	min-height 236px
	&:after
		clear both
		content ''
		display block
	&-item
		height: 118px;
		float left
		&-title
			position relative
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom 5px
			padding-left 10px

		&-scale
			background: #535a66;
			color: #f2f3f5;
			display: inline-block;
			margin-bottom: 7px;
			font-variant: normal;
			font-style: normal;
			font-weight  900
			font-size: 18px;
			padding: 8px 10px;
			position relative
			&:before, &:after
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: 0;
			&:before
				border-bottom: 34px solid #535a66;
				border-left: 7px solid transparent;
				left -7px
			&:after
				border-top: 34px solid #535a66;
				border-right: 7px solid transparent;
				right: -7px;
		&.__width-22
			width 22%
		&.__width-40
			width 40%
		&.__width-32
			width 32%
		&.__width-28
			width 28%
		&.__width-18
			width 18%
		&.__width-32
			width 32%

		&.__car
			position: relative;
			left: 107px;
			top: 5px;
			.benefit-item-title
				font-size: 24px;
			.benefit-item-scale
				font-size: 24px;
				padding: 5px 10px;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-car)
		&.__pay
			position: relative;
			top: 17px;
			left: 126px;

		.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-pay)
		&.__warranty
			position: relative;
			left: 106px;
			top: 17px;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-warranty)
		&.__buy
			position: relative;
			left: 128px;
			top: 11px;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-buy)
		&.__free
			position: relative;
			left: 67px;
			top: 8px;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-free)
		&.__reliability
			position: relative;
			left: 189px;
			.benefit-item-title
				font-size: 24px;
			.benefit-item-scale
				font-size: 24px;
				padding: 5px 10px;
				background-color: #ff6262;
				&:before
					border-bottom-color #ff6262;
				&:after
					border-top-color #ff6262;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-reliability)
		&.__online
			position: relative;
			left: 168px;
			top: 6px;
			text-align: left;
			.benefit-item-content
				&:after
					display inline-block
					content ''
					sprite($s-icon-benefit-online)


