.card-product
	position relative
	&-gallery
		position relative
		height 462px
		margin-bottom 36px
		li
			overflow: hidden;
			position: relative;
			width: 100%;
			height 462px;
			border-radius 4px
		.bx-wrapper .bx-next
			&:before
				sprite($s-icon-next-vin)
		.bx-wrapper .bx-prev
			&:before
				sprite($s-icon-prev-vin)
		.bx-wrapper .bx-controls-direction a:hover
			background: rgba(217, 212, 212, 0.5);

	&-btns
		position relative
		border-bottom 1px solid #e5e9ee
		margin-bottom 28px
		text-align right
		padding-bottom 14px
		padding-right 13px
		border-box()

		&-icon
			height 28px
			margin-bottom 10px
			position relative
			display block
			&:before
				display block
				content ''
				position absolute
				bottom 0
				left 50%
				margin-left -11px
			&.__save
				&:before
					sprite($s-icon-save)

			&.__compare
				&:before
					margin-left -13px
					sprite($s-icon-compare-big)

			&.__favorite
				&:before
					sprite($s-icon-favorite-big)

			&.__follow
				&:before
					sprite($s-icon-follow)

	&-links
		display inline-block
		vertical-align top
		margin-left 68px
		text-decoration none
		text-align center
		font-size 11px
		position relative
		color #bdc6ce
		letter-spacing -0.5px
		@media screen and (max-width:1265px)
			margin-left 7%
		&:first-child
			margin-left 0

		&-stats
			display none
			position absolute
			left 50%
			margin-left -42px
			text-align center
			color #535a66
			font-size 10px
			text-transform uppercase
			width 88px
			border-radius 4px
			background #fafbfc
			border-box()
			font-weight bold
			padding: 8px;
			top: -50px;
			line-height: 12px;
		&.__active
			.__save:before
				sprite($s-icon-save-hover)
		&.__active
			.__compare:before
				sprite($s-icon-compare-big-active)
		&.__active
			.__favorite:before
				sprite($s-icon-favorite-big-active)
			.card-product-links-stats
				display block
		&.__active
			.__follow:before
				sprite($s-icon-follow-hover)

		&:hover
			.__save, .__active
				&:before
					sprite($s-icon-save-hover)
			.__compare, .__active
				&:before
					sprite($s-icon-compare-big-active)
			.__favorite, .__active
				&:before
					sprite($s-icon-favorite-big-active)
			.__follow, .__active
				&:before
					sprite($s-icon-follow-hover)


	&-rfprice
		text-align right
		margin-bottom 23px
		color #818e9c
		font-style italic

	&-price
		text-align right
		position relative
		margin-bottom 38px
		&-info
			display inline-block
			background #fffee9
			color #4f5a67
			font-size 24px
			padding 8px 10px 8px 20px
			position relative
			border-radius 0 4px 4px 0
			&:after
				display block
				content ''
				sprite($s-icon-price-info)
				position absolute
				top -5px
				left -90px
	&-current-price
			color #10aa8b
			font-size 20px
			font-weight bold
			margin-bottom 5px

	&-credit
		position relative
		&:before
			position relative
			display inline-block
			content ''
			vertical-align middle
			margin-right 10px
			sprite($s-icon-calc-bg)
	&-economy
		color #ff6262
		text-align right
		font-size 15px
		margin-bottom 26px
		b
			font-size 20px
	.text
		font-size 15px
		line-height normal
		p, ul, ol, table
			margin-bottom 18px
	&-add
		display inline-block
		trans()
		text-decoration none
		text-transform uppercase
		text-align center
		color #fff
		font-weight bold
		position relative
		background #00ac8b
		width 100%
		border-radius 4px
		height 50px
		line-height 52px
		margin-bottom 22px
		font-size 15px
		max-width 440px
		span
			text-transform none
			font-weight normal
			font-size 12px
			font-style italic
			background #119c84
			display block
			position absolute
			right 0
			top 50%
			margin-top -16px
			height 33px
			line-height 33px
			text-align center
			padding: 0 22px;
			@media screen and (max-width:1250px)
				display none
			&:before
				content: '';
				width: 0;
				height: 0;
				border-bottom: 33px solid #119c84;
				border-left: 7px solid transparent;
				position: absolute;
				top: 0;
				left: -7px;
		&:hover
			background: rgba(16, 170, 139, 0.77);
	&-banks
		display inline-block
		padding-right: 60px;
		margin-bottom 56px
		text-align center
		@media screen and (max-width:1250px)
			padding-right 0
	&-info
		position relative
		color #818e9c
		font-size 15px
		margin-bottom 35px
		width 440px
		display inline-block
		@media screen and (max-width:1270px)
			width auto
			display block
			text-align left
		&-item
			margin-bottom 13px

		&-text
			float left
			@media screen and (max-width:1270px)
				display block
				float none
				margin-bottom 10px
		&-value
			float right
			position: relative;
			top: -4px;
			max-width 160px
			_text-overflow()
			@media screen and (max-width:1270px)
				display block
				float none

	&-video
		position relative
		margin-bottom 40px
		border-top 1px solid #e5e9ee
		border-bottom 1px solid #e5e9ee
		padding 115px 70px 60px 170px
		color #848d9a
		font-size 12px
		text-align: left;
		font-style italic
		&-btn
			text-decoration none
			text-transform uppercase
			font-style normal
			color #535a66
			font-size 18px
			font-weight 300
			display: block;
			text-align: left;
			border-radius: 50px;
			padding: 10px 50px 10px 33px;
			line-height: 24px;
			margin-bottom 16px
			border-box()
			border 3px solid #c1c6cc
			position relative
			position: relative;
			left: -40px;
			trans()
			background images('bg/icon-video-green.png') 98% 50% no-repeat
			&:hover
				background-color: rgba(238, 238, 238, 0.38);
			b
				letter-spacing: -0.5px;

			&:before
				content ''
				display inline-block
				sprite($s-icon-site-left)
				position absolute
				top: -34px;
				left: -52px;
			&:after
				content: 'смотрите видео';
				font-size: 12px;
				font-weight: bold;
				position: absolute;
				top: -28px;
				left: 33px;
				text-transform: none;
				font-style: italic;
		&-desc
			line-height: 16px;
			margin-bottom: 14px;
		&-duration, &-watches
			display inline-block
			vertical-align middle
			margin-right 25px
		&-watches
			&:before
				content ''
				display inline-block
				margin-right 2px
				sprite($s-icon-watch-dark)



