.card-product
	position relative
	&-gallery
		position relative
		height 462px
		margin-bottom 36px
		li
			overflow: hidden;
			position: relative;
			width: 100%;
			height 462px;
			border-radius 4px
		.bx-wrapper .bx-next
			&:before
				sprite($s-icon-next-vin)
		.bx-wrapper .bx-prev
			&:before
				sprite($s-icon-prev-vin)
		.bx-wrapper .bx-controls-direction a:hover
			background: rgba(217, 212, 212, 0.5);


