.card-config
	position relative
	&-count-reviews, span&-count-reviews
		position absolute
		right -20px
		top -8px
		font-size 10px
		color #fff
		border-radius 50%
		width 16px
		height 16px
		line-height 16px
		text-align center
		background #ff6262
		margin 0