.catalog
	position relative
	text-align center
	&-info, & p&-info
		font-weight 700
		font-size 18px
		margin-bottom 52px
		text-align center
		span
			font-size 18px
			color #ff6262
			font-family Georgia, "Times New Roman", Times, serif
	&-item
		display: inline-block;
		vertical-align: top;
		margin: 0 16px 30px;
		text-align: left;
		border-box()
		border-radius 5px
		//overflow hidden
		border 2px solid #f2f3f5
		width: 28.58%;
		&:hover
			.button-detail
				background #00ac8b
				color #fff
		.button-detail
			&:hover
				color #00ac8b
				background images("bg/bg-btn-info.png") no-repeat transparent
		.icon-mustache
			position absolute
			left 15px
			bottom -17px
			z-index 5
		&-gallery
			height 208px
			position relative
		&-slider
			li
				border-radius 4px 4px 0 0
				overflow hidden
				content-center(100%, 208px)
		&-ctn
			position relative
			padding 28px 18px 18px
			color #4f5a67
			font-size 15px
		&-btns
			position absolute
			right: 0
			top 9px
			&:hover
				.catalog-item-hint-btns
					opacity 1
					visibility visible
		&-hint-btns
			display block
			position absolute
			top: -9px;
			right 0
			width 163px
			background #fff
			z-index 5
			box-shadow 0 2px 1px #c7c7c7
			opacity 0
			visibility hidden
			trans()
		&-hint
			display block
			padding 16px 5px 16px 20px
			text-transform uppercase
			font-size 12px
			font-weight 900
			text-decoration none
			color #535a66
			&:before
				content ''
				display inline-block
				vertical-align middle
				margin-right: 9px;
				position: relative;
				float: left;
				margin-top: -5px;
			&.__favorite
				&.__active
					&:before
						sprite($s-icon-favorite-big-active)
				&:before
					sprite($s-icon-favorite-big)
			&.__compare
				&.__active
					&:before
						sprite($s-icon-comapre-big-active)
				&:before
					sprite($s-icon-comapre-big)
			&:hover
				background #535a66
				color #fff
				&.__favorite
					&.__active
						&:before
							sprite($s-icon-favorite-big-active)
					&:before
						sprite($s-icon-favorite-big-hover)
				&.__compare
					&.__active
						&:before
							sprite($s-icon-comapre-big-active)
					&:before
						sprite($s-icon-comapre-big-hover)

		&-compare
			display inline-block
			margin 0 5px 0 10px
			vertical-align middle
			&:before
				content ''
				display inline-block
				sprite($s-icon-comapre)
			&.__active
				&:before
					sprite($s-icon-comapre-hover)
		&-favorite
			display inline-block
			margin  0 20px 0 5px
			vertical-align middle
			&:before
				content ''
				display inline-block
				sprite($s-icon-favorite)
			&.__active
				&:before
					sprite($s-icon-favorite-hover)
	p
		margin-bottom 10px
		line-height: normal;
	&-title
		font-size 20px
		font-weight 900
		margin-bottom 10px
		_text-overflow(100%)
	&-detail
		float left
		position: relative;
		top: 75px;
		@media screen and (max-width 1350px)
			display none
		&-icon
			content ''
			display inline-block
			margin-right 15px
			vertical-align bottom
			opacity 0.5
			cursor pointer
			trans()
			&:hover
				opacity 1
				& + .catalog-detail-hint
					opacity 1
			&.__reliability
				sprite($s-icon-reliability)
			&.__gasoline
				sprite($s-icon-gasoline)
			&.__compressor
				sprite($s-icon-compressor)
		&-hint
			position: absolute;
			color: #535a66;
			font-size: 11px;
			background: #fff;
			padding: 5px;
			bottom: 40px;
			width: 139px;
			line-height: normal;
			opacity 0
			padding-top: 51px;
			trans()
			p
				margin-bottom: 3px;
				white-space nowrap
				letter-spacing: -0.55px;
	&-price
		float right
		text-align right

		&-rf
			color #a1adbb
			font-size 12px
			margin-bottom 5px
		&-normal
			color #10aa8b
			font-size 15px
			margin-bottom 5px
		&-credit
			b
				font-size 20px
			margin-bottom 10px
	&-btns
		position relative
		text-align center
		margin-bottom 90px
		&-link
			border-radius 5px
			border: 2px solid #00ac8b;
			height 50px
			line-height 50px
			text-align center
			position relative
			color #00ac8b;
			font-size 18px
			border-box()
			min-width 216px
			display inline-block
			vertical-align middle
			text-decoration none
			font-weight 700
			trans()
			&:hover
				background  #00ac8b
				color #fff
		&-title
			text-transform uppercase
			font-size 18px
			color #535a66
			display inline-block
			vertical-align middle
			margin 0 38px
			font-weight 900
