.friends
	position relative
	.title-bordered
		margin-bottom 80px
	&-list
		text-align  center
	&-item
		vertical-align middle
		margin 0 30px 50px
		display inline-block
	&-all
		text-align: center;

