.friends
	position relative
	margin-bottom 20px
	&-list
		text-align  center
		margin 100px 0 100px


	&-item
		vertical-align middle
		margin 0 30px 50px
		display inline-block
	&-all
		text-align: center;

