.sign
	position relative
	&-text
		position absolute
		top 62px
		left 5px
		font-size 12px
		color #c0c6cd
		width 220px
		line-height 18px
		p
			font-size 12px
			color #c0c6cd
			line-height 18px
			margin-bottom 15px
		&-title, p&-title
			color #848d9a
			font-size 18px
			line-height normal

	&-video
		position absolute
		right -330px
		border-box()
		top 0
		border-bottom 1pxsolid #e5e9ee
		padding-bottom 24px
		line-height: 20px;
		padding-right: 34px;
		font-style italic
		font-size 15px
		letter-spacing -0.5px
		width 310px
		@media screen and (max-width: 1330px)
			display block
			right 0
			top 0
			position relative
			width auto
			padding-top: 14px;
	&-car
		&-info
			position relative

		position absolute
		right -370px
		width 340px
		@media screen and (max-width: 1330px)
			display block
			right 0
			top 0
			position relative
			width auto
			padding-top: 14px;

		.catalog-item
			line-height: normal;
			width 340px
			margin-left 0
			margin-right 0
			@media screen and (max-width 1350px)
				display none

			p
				margin-bottom: 8px;
				line-height: normal;
				letter-spacing: -0.5px;
				font-size 15px
		.catalog-item-slider li
			margin 0
			padding 0
			list-style none
		.catalog-detail-hint
			p
				font-size: 12px;
				line-height: normal;
				margin-bottom: 3px;
				white-space: nowrap;
				letter-spacing: -.55px;

		&-title
			color #07aa8a
			font-weight bold
			font-style italic
			font-size 15px
			border-bottom 1pxsolid #e5e9ee
			padding-bottom 24px
			margin-bottom 24px
		&-desc
			font-size 12px
			color #c0c6cd
			line-height 18px
			max-width: 230px;
			margin-bottom: 22px;
			@media screen and (max-width 1350px)
				max-width inherit
			a
				color #10aa8b


