.no-borderedTable
	border: 0!important;

.no-borderedTable td,
.no-borderedTable th
	border: 0!important;


p
	base-font()
	line-height: 30px;
	margin-bottom 45px
	font-size 18px
	color #848d9a
	font-weight 300
.text
	base-font()
	line-height: 30px;
	font-size 18px
	color #848d9a
	font-weight 300
	ul
		list-style none
		float none
			li
				padding-left 5px
				list-style square outside
		li
			margin 5px 0 5px 14px
			position relative
			&:before
				content: "•";
				color: #848D9A;
				font-size: 22px;
				position: absolute;
				top: 2px;
				left: -14px;

	ol
		list-style decimal outside
		float none
		margin-left 20px
		
	img
		max-width 100%
		&.left
			margin-right 10px
		&.right
			margin-left 10px
		
	p,
	img,
	ul,
	ol
		margin-bottom 45px
		
	table
		position relative
		margin-bottom 54px
		width 100%
		
	th
		font-weight bold
		background #ccc
		background rgba(0, 0, 0, 0.1)
		text-align left
	td,
	th
		padding 5px 7px
		border 1px solid #666


.bold 
	font-weight bold

.italic 
	font-style italic

.decoration 
	text-decoration underline

.uppercase,
.upper
	text-transform uppercase

.lowercase,
.lower
	text-transform lowercase
	
.center
	text-align center
	
.left,
.to-left
	float left
	left 0
	
.right,
.to-right
	float right
	right 0

.align-right
	text-align: right
.align-center
	text-align: center
.align-left
	text-align: left
.nowrap
	white-space nowrap

.module
	.text
		padding 0 10px

h1
	color #535a66
	font-weight 300
	font-family Roboto, Arial, sans-serif
	margin-bottom 20px
	font-size 49px

.text-column
	position relative
	max-width 600px
	margin 0 auto 20px

.font-red
	color #ff6262
.text-video
	max-width 970px