    $s-arrow-down = 363px 202px -363px -202px 5px 3px 375px 329px 'sprite.png';
    $s-arrow-next = 334px 72px -334px -72px 15px 31px 375px 329px 'sprite.png';
    $s-arrow-prev = 334px 108px -334px -108px 15px 31px 375px 329px 'sprite.png';
    $s-icon-arrow-preloader = 354px 202px -354px -202px 4px 27px 375px 329px 'sprite.png';
    $s-icon-bank-hover = 220px 192px -220px -192px 63px 13px 375px 329px 'sprite.png';
    $s-icon-bank = 152px 192px -152px -192px 63px 13px 375px 329px 'sprite.png';
    $s-icon-basket-big = 174px 230px -174px -230px 36px 24px 375px 329px 'sprite.png';
    $s-icon-basket = 354px 101px -354px -101px 19px 15px 375px 329px 'sprite.png';
    $s-icon-benefit-buy = 62px 192px -62px -192px 40px 26px 375px 329px 'sprite.png';
    $s-icon-benefit-car = 132px 230px -132px -230px 37px 28px 375px 329px 'sprite.png';
    $s-icon-benefit-free = 117px 83px -117px -83px 58px 29px 375px 329px 'sprite.png';
    $s-icon-benefit-online = 89px 230px -89px -230px 38px 36px 375px 329px 'sprite.png';
    $s-icon-benefit-pay = 107px 192px -107px -192px 40px 24px 375px 329px 'sprite.png';
    $s-icon-benefit-reliability = 150px 117px -150px -117px 48px 50px 375px 329px 'sprite.png';
    $s-icon-benefit-warranty = 46px 230px -46px -230px 38px 40px 375px 329px 'sprite.png';
    $s-icon-buy = 260px 230px -260px -230px 30px 20px 375px 329px 'sprite.png';
    $s-icon-calc-bg = 0px 278px 0px -278px 30px 24px 375px 329px 'sprite.png';
    $s-icon-calc-silver = 354px 144px -354px -144px 15px 18px 375px 329px 'sprite.png';
    $s-icon-calc = 354px 121px -354px -121px 15px 18px 375px 329px 'sprite.png';
    $s-icon-car = 300px 186px -300px -186px 27px 20px 375px 329px 'sprite.png';
    $s-icon-catalog-reliability = 300px 68px -300px -68px 28px 29px 375px 329px 'sprite.png';
    $s-icon-comapre-big-active = 110px 278px -110px -278px 26px 18px 375px 329px 'sprite.png';
    $s-icon-comapre-big-hover = 141px 278px -141px -278px 26px 18px 375px 329px 'sprite.png';
    $s-icon-comapre-big = 172px 278px -172px -278px 26px 18px 375px 329px 'sprite.png';
    $s-icon-comapre-hover = 232px 278px -232px -278px 24px 17px 375px 329px 'sprite.png';
    $s-icon-comapre = 203px 278px -203px -278px 24px 17px 375px 329px 'sprite.png';
    $s-icon-compare-big-active = 300px 132px -300px -132px 27px 22px 375px 329px 'sprite.png';
    $s-icon-compare-big = 300px 159px -300px -159px 27px 22px 375px 329px 'sprite.png';
    $s-icon-compressor-vin = 212px 40px -212px -40px 54px 52px 375px 329px 'sprite.png';
    $s-icon-compressor = 264px 138px -264px -138px 30px 30px 375px 329px 'sprite.png';
    $s-icon-favorite-big-active = 300px 211px -300px -211px 23px 23px 375px 329px 'sprite.png';
    $s-icon-favorite-big-hover = 300px 239px -300px -239px 23px 23px 375px 329px 'sprite.png';
    $s-icon-favorite-big = 271px 40px -271px -40px 23px 23px 375px 329px 'sprite.png';
    $s-icon-favorite-hover = 354px 0px -354px 0px 21px 21px 375px 329px 'sprite.png';
    $s-icon-favorite = 354px 26px -354px -26px 21px 21px 375px 329px 'sprite.png';
    $s-icon-follow-hover = 156px 307px -156px -307px 23px 20px 375px 329px 'sprite.png';
    $s-icon-follow = 128px 307px -128px -307px 23px 20px 375px 329px 'sprite.png';
    $s-icon-free = 35px 278px -35px -278px 37px 18px 375px 329px 'sprite.png';
    $s-icon-gasoline-vin = 212px 138px -212px -138px 47px 48px 375px 329px 'sprite.png';
    $s-icon-gasoline = 300px 0px -300px 0px 29px 29px 375px 329px 'sprite.png';
    $s-icon-main-search = 354px 52px -354px -52px 18px 22px 375px 329px 'sprite.png';
    $s-icon-mustache = 264px 173px -264px -173px 27px 9px 375px 329px 'sprite.png';
    $s-icon-new-car-hover = 70px 307px -70px -307px 25px 21px 375px 329px 'sprite.png';
    $s-icon-new-car = 180px 83px -180px -83px 25px 21px 375px 329px 'sprite.png';
    $s-icon-next-vin = 334px 0px -334px 0px 15px 31px 375px 329px 'sprite.png';
    $s-icon-ok = 354px 79px -354px -79px 20px 17px 375px 329px 'sprite.png';
    $s-icon-old-car-hover = 35px 307px -35px -307px 30px 22px 375px 329px 'sprite.png';
    $s-icon-old-car = 0px 307px 0px -307px 30px 22px 375px 329px 'sprite.png';
    $s-icon-online = 300px 102px -300px -102px 25px 25px 375px 329px 'sprite.png';
    $s-icon-pay-vin = 0px 192px 0px -192px 57px 33px 375px 329px 'sprite.png';
    $s-icon-pay = 77px 278px -77px -278px 28px 18px 375px 329px 'sprite.png';
    $s-icon-preloader = 212px 0px -212px 0px 83px 35px 375px 329px 'sprite.png';
    $s-icon-prev-vin = 334px 36px -334px -36px 15px 31px 375px 329px 'sprite.png';
    $s-icon-price-info = 117px 0px -117px 0px 90px 78px 375px 329px 'sprite.png';
    $s-icon-questions = 215px 230px -215px -230px 40px 21px 375px 329px 'sprite.png';
    $s-icon-reliability-catalog = 300px 34px -300px -34px 28px 29px 375px 329px 'sprite.png';
    $s-icon-reliability-vin = 0px 230px 0px -230px 41px 43px 375px 329px 'sprite.png';
    $s-icon-reliability = 271px 68px -271px -68px 22px 23px 375px 329px 'sprite.png';
    $s-icon-save-hover = 100px 307px -100px -307px 23px 20px 375px 329px 'sprite.png';
    $s-icon-save = 184px 307px -184px -307px 23px 20px 375px 329px 'sprite.png';
    $s-icon-search = 354px 167px -354px -167px 12px 15px 375px 329px 'sprite.png';
    $s-icon-site-left = 0px 117px 0px -117px 74px 70px 375px 329px 'sprite.png';
    $s-icon-site = 212px 97px -212px -97px 71px 36px 375px 329px 'sprite.png';
    $s-icon-video-big = 0px 0px 0px 0px 112px 112px 375px 329px 'sprite.png';
    $s-icon-video = 79px 117px -79px -117px 66px 66px 375px 329px 'sprite.png';
    $s-icon-watch-dark = 354px 187px -354px -187px 16px 10px 375px 329px 'sprite.png';
    $s-icon-watch = 354px 234px -354px -234px 15px 9px 375px 329px 'sprite.png';
