    $s-arrow-down = 238px 70px -238px -70px 5px 3px 253px 253px 'sprite.png';
    $s-arrow-next = 208px 166px -208px -166px 15px 31px 253px 253px 'sprite.png';
    $s-arrow-prev = 238px 0px -238px 0px 15px 31px 253px 253px 'sprite.png';
    $s-icon-bank-hover = 0px 127px 0px -127px 63px 13px 253px 253px 'sprite.png';
    $s-icon-bank = 35px 92px -35px -92px 63px 13px 253px 253px 'sprite.png';
    $s-icon-basket-big = 167px 29px -167px -29px 36px 24px 253px 253px 'sprite.png';
    $s-icon-basket = 182px 145px -182px -145px 19px 15px 253px 253px 'sprite.png';
    $s-icon-benefit-buy = 0px 55px 0px -55px 48px 32px 253px 253px 'sprite.png';
    $s-icon-benefit-car = 53px 55px -53px -55px 37px 28px 253px 253px 'sprite.png';
    $s-icon-benefit-free = 53px 0px -53px 0px 66px 33px 253px 253px 'sprite.png';
    $s-icon-benefit-online = 124px 45px -124px -45px 38px 36px 253px 253px 'sprite.png';
    $s-icon-benefit-pay = 167px 0px -167px 0px 36px 24px 253px 253px 'sprite.png';
    $s-icon-benefit-reliability = 0px 0px 0px 0px 48px 50px 253px 253px 'sprite.png';
    $s-icon-benefit-warranty = 124px 0px -124px 0px 38px 40px 192px 161px 'sprite.png';
    $s-icon-buy = 103px 171px -103px -171px 30px 20px 253px 253px 'sprite.png';
    $s-icon-car = 138px 171px -138px -171px 27px 20px 253px 253px 'sprite.png';
    $s-icon-catalog-reliability = 167px 92px -167px -92px 28px 29px 253px 253px 'sprite.png';
    $s-icon-comapre-big-active = 151px 145px -151px -145px 26px 18px 253px 253px 'sprite.png';
    $s-icon-comapre-big-hover = 120px 145px -120px -145px 26px 18px 253px 253px 'sprite.png';
    $s-icon-comapre-big = 170px 171px -170px -171px 26px 18px 253px 253px 'sprite.png';
    $s-icon-comapre-hover = 55px 205px -55px -205px 24px 17px 253px 253px 'sprite.png';
    $s-icon-comapre = 26px 205px -26px -205px 24px 17px 253px 253px 'sprite.png';
    $s-icon-compressor = 0px 92px 0px -92px 30px 30px 253px 253px 'sprite.png';
    $s-icon-favorite-big-active = 208px 86px -208px -86px 23px 23px 253px 253px 'sprite.png';
    $s-icon-favorite-big-hover = 208px 30px -208px -30px 23px 23px 253px 253px 'sprite.png';
    $s-icon-favorite-big = 208px 58px -208px -58px 23px 23px 253px 253px 'sprite.png';
    $s-icon-favorite-hover = 0px 205px 0px -205px 21px 21px 253px 253px 'sprite.png';
    $s-icon-favorite = 95px 55px -95px -55px 21px 21px 253px 253px 'sprite.png';
    $s-icon-free = 45px 145px -45px -145px 37px 18px 253px 253px 'sprite.png';
    $s-icon-gasoline = 167px 58px -167px -58px 29px 29px 253px 253px 'sprite.png';
    $s-icon-main-search = 0px 231px 0px -231px 18px 22px 253px 253px 'sprite.png';
    $s-icon-mustache = 167px 126px -167px -126px 27px 9px 253px 253px 'sprite.png';
    $s-icon-new-car-hover = 208px 140px -208px -140px 25px 21px 253px 253px 'sprite.png';
    $s-icon-new-car = 208px 114px -208px -114px 25px 21px 253px 253px 'sprite.png';
    $s-icon-old-car-hover = 33px 171px -33px -171px 30px 22px 253px 253px 'sprite.png';
    $s-icon-old-car = 68px 171px -68px -171px 30px 22px 253px 253px 'sprite.png';
    $s-icon-online = 208px 0px -208px 0px 25px 25px 253px 253px 'sprite.png';
    $s-icon-pay = 87px 145px -87px -145px 28px 18px 253px 253px 'sprite.png';
    $s-icon-questions = 0px 145px 0px -145px 40px 21px 253px 253px 'sprite.png';
    $s-icon-reliability = 0px 171px 0px -171px 28px 29px 253px 253px 'sprite.png';
    $s-icon-search = 238px 36px -238px -36px 12px 15px 253px 253px 'sprite.png';
    $s-icon-watch = 238px 56px -238px -56px 15px 9px 253px 253px 'sprite.png';

