    $s-arrow-down = 295px 80px -295px -80px 5px 3px 300px 275px 'sprite.png';
    $s-arrow-next = 275px 80px -275px -80px 15px 31px 300px 275px 'sprite.png';
    $s-arrow-prev = 275px 116px -275px -116px 15px 31px 300px 275px 'sprite.png';
    $s-icon-bank-hover = 110px 158px -110px -158px 63px 13px 300px 275px 'sprite.png';
    $s-icon-bank = 42px 158px -42px -158px 63px 13px 300px 275px 'sprite.png';
    $s-icon-basket-big = 35px 191px -35px -191px 36px 24px 300px 275px 'sprite.png';
    $s-icon-basket = 167px 226px -167px -226px 19px 15px 300px 275px 'sprite.png';
    $s-icon-benefit-buy = 76px 117px -76px -117px 40px 26px 300px 275px 'sprite.png';
    $s-icon-benefit-car = 0px 158px 0px -158px 37px 28px 300px 275px 'sprite.png';
    $s-icon-benefit-free = 117px 71px -117px -71px 58px 29px 300px 275px 'sprite.png';
    $s-icon-benefit-online = 188px 100px -188px -100px 38px 36px 300px 275px 'sprite.png';
    $s-icon-benefit-pay = 121px 117px -121px -117px 40px 24px 300px 275px 'sprite.png';
    $s-icon-benefit-reliability = 188px 0px -188px 0px 48px 50px 300px 275px 'sprite.png';
    $s-icon-benefit-warranty = 188px 55px -188px -55px 38px 40px 300px 275px 'sprite.png';
    $s-icon-buy = 70px 226px -70px -226px 30px 20px 300px 275px 'sprite.png';
    $s-icon-car = 241px 98px -241px -98px 27px 20px 300px 275px 'sprite.png';
    $s-icon-catalog-reliability = 241px 34px -241px -34px 28px 29px 300px 275px 'sprite.png';
    $s-icon-comapre-big-active = 105px 226px -105px -226px 26px 18px 300px 275px 'sprite.png';
    $s-icon-comapre-big-hover = 136px 226px -136px -226px 26px 18px 300px 275px 'sprite.png';
    $s-icon-comapre-big = 196px 191px -196px -191px 26px 18px 300px 275px 'sprite.png';
    $s-icon-comapre-hover = 275px 204px -275px -204px 24px 17px 300px 275px 'sprite.png';
    $s-icon-comapre = 275px 226px -275px -226px 24px 17px 300px 275px 'sprite.png';
    $s-icon-compressor = 0px 191px 0px -191px 30px 30px 300px 275px 'sprite.png';
    $s-icon-favorite-big-active = 241px 123px -241px -123px 23px 23px 300px 275px 'sprite.png';
    $s-icon-favorite-big-hover = 241px 151px -241px -151px 23px 23px 300px 275px 'sprite.png';
    $s-icon-favorite-big = 241px 179px -241px -179px 23px 23px 300px 275px 'sprite.png';
    $s-icon-favorite-hover = 275px 178px -275px -178px 21px 21px 300px 275px 'sprite.png';
    $s-icon-favorite = 275px 152px -275px -152px 21px 21px 300px 275px 'sprite.png';
    $s-icon-free = 121px 191px -121px -191px 37px 18px 300px 275px 'sprite.png';
    $s-icon-gasoline = 241px 0px -241px 0px 29px 29px 300px 275px 'sprite.png';
    $s-icon-main-search = 0px 253px 0px -253px 18px 22px 300px 275px 'sprite.png';
    $s-icon-mustache = 241px 207px -241px -207px 27px 9px 300px 275px 'sprite.png';
    $s-icon-new-car-hover = 275px 26px -275px -26px 25px 21px 300px 275px 'sprite.png';
    $s-icon-new-car = 275px 0px -275px 0px 25px 21px 300px 275px 'sprite.png';
    $s-icon-old-car-hover = 0px 226px 0px -226px 30px 22px 300px 275px 'sprite.png';
    $s-icon-old-car = 35px 226px -35px -226px 30px 22px 300px 275px 'sprite.png';
    $s-icon-online = 241px 68px -241px -68px 25px 25px 300px 275px 'sprite.png';
    $s-icon-pay = 163px 191px -163px -191px 28px 18px 300px 275px 'sprite.png';
    $s-icon-questions = 76px 191px -76px -191px 40px 21px 300px 275px 'sprite.png';
    $s-icon-reliability = 275px 52px -275px -52px 22px 23px 300px 275px 'sprite.png';
    $s-icon-search = 166px 117px -166px -117px 12px 15px 300px 275px 'sprite.png';
    $s-icon-site = 0px 117px 0px -117px 71px 36px 300px 275px 'sprite.png';
    $s-icon-video-big = 0px 0px 0px 0px 112px 112px 300px 275px 'sprite.png';
    $s-icon-video = 117px 0px -117px 0px 66px 66px 300px 275px 'sprite.png';
    $s-icon-watch = 188px 141px -188px -141px 15px 9px 300px 275px 'sprite.png';
