.banner
	img(src="images/example/banner.png", alt="").banner-img
	.banner-text
		p.banner-comment Мы купили нашу <a href="#">Subaru</a> так легко и быстро, <br/>как никогда еще не покупали.<br>Спасибо, что пришли. Успехов и удачи!
		p.banner-signature Василий Горкин