div.main-search-popup
	div.main-search-header
		div.wrapper-content
			div.js-cancel-search.main-search-cancel Отменить
			img(src="images/logo-white-small.png" alt="")
	div.wrapper-content
		div.main-search-ctn
			div.main-search-title Бесплатная доставка
			div.main-search-nav
				div.main-search-nav-item.__active Санкт-Петербург
				a(href="#").main-search-nav-item Гатчина
				a(href="#").main-search-nav-item Кронштадт
				a(href="#").main-search-nav-item Ломоносов
				a(href="#").main-search-nav-item Пушкин
				a(href="#").main-search-nav-item Павловск
				a(href="#").main-search-nav-item Другой город
			div.main-search-info
				p.__uppercase СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ <b>ДЛЯ ЖИТЕЛЕЙ ДРУГИХ ГОРОДОВ</b>
				p Твоего города еще нет в списке бесплатной доставки? <br/>Не отчаивайся, <a href="#">мы поможем</a> приехать к нам и забрать автомобиль твоей мечты.
		div.main-search-map
			div.main-search-map-icon Карта доставки
			div.main-search-map-ctn
				div#js-map-search.map-search