nav.left-menu
	div.left-menu-category Новые
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Ford
			span.left-menu-count 8

	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Honda
			span.left-menu-count 89
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Mitsubishi
			span.left-menu-count 6
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Hyundai
			span.left-menu-count 12
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Suzuki
			span.left-menu-count 4
	div.left-menu-category С пробегом
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Honda
			span.left-menu-count 89
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Mitsubishi
			span.left-menu-count 6
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Hyundai
			span.left-menu-count 12
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Suzuki
			span.left-menu-count 4
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Honda
			span.left-menu-count 89
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Mitsubishi
			span.left-menu-count 6
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Hyundai
			span.left-menu-count 12
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Great Wall
			span.left-menu-count 4
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Suzuki
			span.left-menu-count 4
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Honda
			span.left-menu-count 89
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Mitsubishi
			span.left-menu-count 6
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Hyundai
			span.left-menu-count 12
	div.left-menu-item
		a(href="#").left-menu-link
			span.left-menu-name Great Wall
			span.left-menu-count 4
	a(href="#").link-more.mt-40 Все авто